.favorite {
  height: 30vh;
  background: rgba(173, 255, 47, 0.15);
}

.favorite-title {
  padding-top: 30px;
  padding-left: 30px;
  color: green;
}

.favorite-content-group {
  height: 71% !important;
}

@media only screen and (max-height: 800px) {
  .favorite-title {
    font-size: 2rem;
    padding-top: 10px;
  }
}
